/* Navigation Bar Styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #4b6cb7, #182848);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 15px 25px;
  display: block;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
}

nav ul li a:hover {
  background-color: #555;
  color: #ffcc00;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#content {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

nav.dark-mode ul {
  background: linear-gradient(90deg, #333, #111);
}

nav.dark-mode ul li a {
  color: #e0e0e0;
}

nav.dark-mode ul li a:hover {
  background-color: #444;
  color: #ffcc00;
}

footer.dark-mode {
  background-color: #222;
  color: #e0e0e0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, #4b6cb7, #182848);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li.right img {
  cursor: pointer;
  width: 32px; /* Adjust size as needed */
  height: 32px; /* Adjust size as needed */
}